#cardshadow {
    box-shadow: 0px 0px 10px 0px #0000001a !important;
    border-radius: 8px !important;
  }
  
  #cardshadow-round {
    border: 3px dashed #CED4DA;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 25px;
    box-shadow: none;
  }
  
  /* .bg-card-title {
    background-color: #f4f3f3;
  } */